*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cascadia code', Consolas ,'Courier New', monospace;
}
#navbar{
    z-index: 10;
}
#logo_navbar img{
    width: 45px;
    border: 2px solid black;
    border-radius: 25px;
    position: absolute;
    left: 10px;
    top: 10px;
}
input[type=search]{
    padding: 5px;
    border: 2.5px solid rgb(0, 89, 255);
    border-radius: 10px;
    height: 30px;
    width: 200px;
    position: absolute;
    right: 5px;
    top: 15px;
}
#nav_links{
    display: flex;
    justify-content: space-between;
    width: 500px;
    position: absolute;
    left: 70px;
    top: 23px;
}
#nav_links li{
    list-style-type: none;
}
#nav_links li a{
    text-decoration: none;
    color: rgb(0, 89, 255);
}
#nav_links li a:active{
    color: black;
}
#nav_links li a:hover{
    color: lightskyblue;
    text-decoration: underline;
}
#homepage_firstpg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background: linear-gradient(rgb(0, 89, 255),lightskyblue,white); */
    background: linear-gradient(white,lightskyblue,rgb(0, 89, 255));
}
#homepage_firstpg .content{
    /* background-color: gray; */
    position: absolute;
    top: 200px;
    width: 70%;
    left: 50px;
    cursor: pointer;
}
#homepage_firstpg .content h1{
    font-family: 'cascadia code', Consolas ,'Courier New', monospace;
    font-size: 50px;
}
#homepage_firstpg .content h2,h3{
    font-weight: lighter;
}
.content_down{
    width: 70%;
    /* background-color: red; */
    position: relative;
    left: 50px;
}
.content img{
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    width: 300px;
    height: 230px;
    position: absolute;
    right: -500px;
    top: -70px;
}
::selection{
    color: white;
    background: rgb(0, 89, 255,0.5);
}














/* loader */
.loader{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
    animation: animate 0.5s linear infinite;
    position: absolute;
    left: 7px;
    top: 7px;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.loader::after{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #240229;
    border-radius: 50%;
}
.loader span{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
}
.loader span:nth-child(1){
    filter: blur(5px);
}
.loader span:nth-child(2){
    filter: blur(10px);
}
.loader span:nth-child(3){
    filter: blur(25px);
}
.loader span:nth-child(4){
    filter: blur(50px);
}